.delivery {
    padding-top: 20px;
    padding-bottom: 80px;
    &__wrapper {
        @include flex(center, center, wrap, column);
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        gap: 32px;
    }
    &__title {
        margin-bottom: 16px;
        text-align: center;
        @media screen and (min-width: 1216px) {
            font-family: "NewBaskervilleC";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            text-align: center;
            color: #010103;
        }
    }
    &__payment {
        @media screen and (min-width: 1216px) {
            display: none;
        }
    }
    &__payment-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;
    }
    &__payment-item {
        position: relative;
        &::before {
            @include pseudo();
            width: 8px;
            height: 8px;
            background: #c7a17a;
            border-radius: 50%;
            top: 5px;
            left: -20px;
        }
    }
    &__payment-btn {
        width: 335px;
        height: 48px;
        padding: 14px 20px;
        background: #c7a17a;
        border-radius: 8px;
        text-align: center;
        color: #ffffff;
        display: block;
        margin: 0 auto;
    }
    &__shipping {
        @include flex(center, center, wrap, column);
        gap: 16px;
    }
    &__text {
        position: relative;
        &::before {
            @include pseudo();
            width: 24px;
            height: 24px;
            left: -40px;
            top: -5px;
            background: #c7a17a;
        }
        &:nth-child(2)::before {
            background: #21af09;
        }
        &:last-child::before {
            background: #ff00ff;
        }
    }
}
