@import "./abstracts/normalize.scss";
@import "./abstracts/vars";
@import './abstracts/mixins';

.container {
    max-width: 1216px;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (min-width: 1216px) {
        padding: 0;
    }

}

@import "./components/sections/delivery";
@import "./components/shippingList";
@import "./components/sections/map";
@import "./components/order";
@import "./components/sections/payment";
@import "./components/sections/location";
@import "./components/cardMap";
