.card {
    display: none;
    background-color: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    top: 55px;
    left: 120px;
    padding: 32px;
    width: 384px;
    height: 440px;
    @media screen and (min-width: 1216px) {
        display: block;
    }
    &__text-red {
        color: red;

    }
    &__text-green {
        color: green
    }
}