.order {
    @include flex (center, center, wrap, column);
    gap: 16px;
    @media screen and (min-width: 1216px) {
        flex-direction: row;
        justify-content: space-around;
        max-width: 904px;
        width: 100%;
    }
    &-block {
        @include flex (center, center, wrap, column);
        position: relative;
        
    }
    &-beige {
        text-align: center;
        color: #c7a17a;
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
    }

}