.delivery {
    padding-top: 20px;
    padding-bottom: 32px;
    @media screen and (min-width: 1216px) {
        padding-top: 120px;
        padding-bottom: 80px;
    }
    &__wrapper {
        @include flex(center, center, wrap, column);
    }
    &__title {
        margin-bottom: 16px;
        text-align: center;
        @media screen and (min-width: 1216px) {
            margin-bottom: 32px;
            font-family: "NewBaskervilleC";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            text-align: center;
            color: #010103;
        }
    }
    &__order {
        margin-bottom: 32px;
        @media screen and (min-width: 1216px) {
            display: none;
        }
    }
    &__time {
        margin-bottom: 32px;
            @include flex (center, center, wrap, column);
            gap: 16px;
            @media screen and (min-width: 1216px) {
                margin-bottom: 80px;
                flex-direction: row;
                justify-content: space-around;
                max-width: 904px;
                width: 100%;
            }
            &-block {
                @include flex (center, center, wrap, column);
                position: relative;
                &:last-child::before,
                &:nth-child(2)::before {
                    display: none;
                    @media screen and (min-width: 1216px) {
                        @include pseudo();
                        top: 0;
                        left: -70px;
                        width: 1px;
                        height: 72px;
                        background-color: #E5E1E1;
                        
                    }
                }
            }
            &-beige {
                text-align: center;
                color: #c7a17a;
                font-family: "Jost";
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 48px;
            }
    }
    &__free {
        @include flex(center, center, wrap, column);
        gap: 16px;
        @media screen and (min-width: 1216px) {
            flex-direction: row;
            max-width: 904px;
            width: 100%;
            justify-content: space-between;
        }
    }
    &__text {
        position: relative;
        &::before {
            @include pseudo();
            width: 24px;
            height: 24px;
            left: -40px;
            top: -5px;
            background: #c7a17a;
        }
        &:nth-child(2)::before {
            background: #21af09;
        }
        &:last-child::before {
            background: #ff00ff;
        }
    }
}
